h1 {
	text-align: center;
	/*background-image: url('Fondo\ de\ h1.jpg');
	background-repeat: repeat;*/
	padding: 20px;
}
p {
    position: absolute;
    top: 530px;
    left: 100px;

}
ul{
    position: absolute;
    top: 550px;
    left: 100px;
}