.right-column {
    position: absolute;
    top: 20px;
    left: 950px; /* Coloca el elemento a la derecha */
    width: 25.6%; /* Establece el ancho de la columna */
    height: 110vh; /* Establece la altura de la columna para que se extienda hasta la parte inferior de la página */
    border-left: 10px solid #FADB58;
    background-color: #FFFFE0; /* Color de fondo de la columna */
}
h1{
    border-left: 10px solid #FADB58; /* Tamaño y color del borde */
    background-color: #FFFFE0; /* Color de fondo */
	text-align: 0;
	padding: 20px;
}
ul{
    position: absolute;
    top: 350px;
    left: 30px;
}
h4{
    position: absolute;
    top: -10px;
    left: 30px;
}

.carousel-container {
    width: 350px;
    height: 300px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-image {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: opacity 0.5s ease-in-out;
}