.right-column {
    position: absolute;
    top: 20px;
    left: 950px;
    /* Coloca el elemento a la derecha */
    width: 25.6%;
    /* Establece el ancho de la columna */
    height: 110vh;
    /* Establece la altura de la columna para que se extienda hasta la parte inferior de la página */
    border-left: 10px solid #FADB58;
    background-color: #FFFFE0;
    /* Color de fondo de la columna */
}

body {
    background-image: url('fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.contenedor {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
}

h1 {
    border-left: 10px solid #FADB58;
    /* Tamaño y color del borde */
    background-color: #FFFFE0;
    /* Color de fondo */
    text-align: 0;
    padding: 20px;
}

h3 {
    position: absolute;
    top: 100px;
    left: 100px;
}

h5 {
    position: absolute;
    top: 300px;
    left: 500px;
}

h6 {
    position: absolute;
    top: 200px;
    left: 300px;
}

h4 {
    position: absolute;
    top: -10px;
    left: 30px;
}

p {

    position: absolute;
    top: 330px;
    left: 30px;

}

ul {
    position: absolute;
    top: 350px;
    left: 30px;
}

/*Para celulares*/
@media screen and (max-width: 768px) {
    .right-column {
        position: absolute;
        top: 2%;
        left: 200%;
        /* Coloca el elemento a la derecha */
        width: 25.6%;
        /* Establece el ancho de la columna */
        height: 110vh;
        /* Establece la altura de la columna para que se extienda hasta la parte inferior de la página */
        border-left: 1vw solid #FADB58;
        background-color: #FFFFE0;
        /* Color de fondo de la columna */
    }

    h4 {
        position: absolute;
        top: -1%;
        left: 3%;
    }

    h5 {
        position: absolute;
        top: 70%;
        left: 50%;
    }

    h6 {
        position: absolute;
        top: 20%;
        left: 30%;
    }
}